/ModelViewer/project/bin/
/ModelViewer/project/Debug/
/ModelViewer/project/obj/
/ModelViewer/project/TestResults/
/ModelViewer/project/x64/
*.tlog
*.pch
*.pdb
*.lastbuildstate
*.idb
*.opensdf
*.sdf
*.suo
*.ipch
*.obj
*.log
*.cache
*.unsuccessfulbuild
*.vcxproj.user
=======
FontString/tool/Debug/*
gfx/Sample/x64/Debug/*.lib
gfx/Sample/x64/Debug/*.lib
gfx/Sample/x64/Debug/*.exe
gfx/Sample/x64/Debug/*.lik
gfx/Sample/x64/Debug/*.pdb
gfx/Sample/Debug/*.lib
/gfx/Sample/Debug
/AllSettingXmlCollector/bin/
/AllSettingXmlCollector/bin/Debug/*
/AllSettingXmlCollector/bin/Release/*
/AllSettingXmlCollector/obj/
/AllSettingXmlCollector/obj/Debug/*
/AllSettingXmlCollector/obj/Release/*
/AllSettingXmlCollector/AllJapanesePokemonNameCollector/bin/
/AllSettingXmlCollector/AllJapanesePokemonNameCollector/obj/
/AllSettingXmlCollector/AllPokemonMeasurementCollector/bin/
/AllSettingXmlCollector/AllPokemonMeasurementCollector/obj/
/AnimationConverter/AnimationConverter/bin/
/CTRViewer/CTRViewer/CTRViewer/
/CTRViewer/FrameWork/gfl2_FrameWork/
/ModelConverter/Debug/
/ModelConverter/EffectNodeConverter/Debug/
/ModelConverter/LocConverter/Debug/
/ModelConverter/ModelConverter/Debug/
/ModelConverter/ShaderCompiler/Debug/
/ModelConverter/TextureConverter/Debug/
/ModelConverter/Release/
/ModelConverter/EffectNodeConverter/Release/
/ModelConverter/LocConverter/Release/
/ModelConverter/ModelConverter/Release/
/ModelConverter/ShaderCompiler/Release/
/ModelConverter/TextureConverter/Release/
/SettingXmlSerializer/bin/
/SettingXmlSerializer/obj/
/DLLProjects/GFMsgPack/bin/
/DLLProjects/GFMsgPack/obj/
/DLLProjects/GFExcelSerializer/bin/
/DLLProjects/GFExcelSerializer/obj/
/DLLProjects/GFFileIO/bin/
/DLLProjects/GFFileIO/obj/
/DLLProjects/GFPokemonFile/bin/
/DLLProjects/GFPokemonFile/obj/
/DLLProjects/GFTarga/bin/
/DLLProjects/GFTarga/obj/
/DLLProjects/msgpack-cli-master/bin/
/DLLProjects/msgpack-cli-master/obj/
/Serializer/FaceMaterialNameSerializer/bin/
/Serializer/FaceMaterialNameSerializer/obj/
/Serializer/MsgPackSample/JapaneseNamePackSample/bin/
/Serializer/MsgPackSample/JapaneseNamePackSample/obj/
/Serializer/MsgPackSample/ObjectPackerSample/bin/
/Serializer/MsgPackSample/ObjectPackerSample/obj/
/Serializer/MsgPackSample/PokemonDataPackSample/bin/
/Serializer/MsgPackSample/PokemonDataPackSample/obj/
/Serializer/ResourceShareConfigSerializer/bin/
/Serializer/ResourceShareConfigSerializer/obj/
/Serializer/UnusedEyeMouthChecker/bin/
/Serializer/UnusedEyeMouthChecker/obj/
/Serializer/PokemonExternalDataSerializer/bin/
/Serializer/PokemonExternalDataSerializer/obj/
/ModelViewer/project/*.user
/ModelViewer/project/ModelViewer.vcxproj.filters
*.tga.txt
*.frag.txt
*.vert.txt
*.ncb
*.cache
*.cache.opt