/clr/project/Debug
/clr/project/Release
/clr/project/x64
/Collision/project/Debug
/Collision/project/Release
/Collision/project/x64
/debug/project/Debug
/debug/project/Release
/debug/project/x64
/FontRenderer/project/Debug
/FontRenderer/project/Release
/FontRenderer/project/x64
/FontString/project/Debug
/FontString/project/Release
/FontString/project/x64
/fs/project/Debug
/fs/project/Release
/fs/project/x64
/gfx/project/Debug
/gfx/project/DebugOpt
/gfx/project/Release
/gfx/project/x64
/gfx/Sample/Debug
/gfx/Sample/Release
/gfx/Sample/x64
/gfx/Sample/SimpleDraw/x64/Debug
/gfx/Sample/SimpleDraw/x64/Release
/gfx/Sample/*/Debug
/gfx/Sample/*/DebugOpt
/gfx/Sample/*/Release
/gfx/Sample/*/x64
/gfx/Sample/project/Debug
/gfx/Sample/project/DebugOpt
/gfx/Sample/project/Release
/gfx/Sample/project/x64
/heap/project/Debug
/heap/project/Release
/heap/project/x64
/math/project/Debug
/math/project/Release
/math/project/x64
/pml/project/Debug
/pml/project/Release
/pml/project/x64
/proc/project/Debug
/proc/project/Release
/proc/project/x64
/skelton/project/Debug
/skelton/project/Release
/skelton/project/x64
/str/project/Debug
/str/project/Release
/str/project/x64
/system/Sample/Debug
/system/Sample/Release
/system/Sample/x64
/thread/project/Debug
/thread/project/Release
/thread/project/x64
/RenderingEngine/Sample/Debug
/RenderingEngine/Sample/x64
/RenderingEngine/resource/*.txt
*.ib_pdb_index
*.tlog
*.pch
*.pdb
*.lastbuildstate
*.idb
*.opensdf
*.sdf
*.suo
*.ipch
*.obj
*.log
*.cache
*.unsuccessfulbuild
*.vcxproj.user
*.tga.txt
*bfsh.txt
*bvsh.txt
*.bak
*.gffsh.txt
*.gfvsh.txt
*.sh.txt
*.shbin.txt
=======
FontString/tool/Debug/*
gfx/Sample/x64/Debug/*.lib
gfx/Sample/x64/Debug/*.lib
gfx/Sample/x64/Debug/*.exe
gfx/Sample/x64/Debug/*.lik
gfx/Sample/x64/Debug/*.pdb
gfx/Sample/Debug/*.lib
/gfx/Sample/Debug
x64
/FontRenderer/render_performance.txt
/FontRenderer/project/*.user
/FontRenderer/project/FontRenderer.vcxproj.filters
/FontRenderer/resource/render_performance.txt
/FontString/Sample/*.user
/FontString/tool/*.user
/skelton/source/moc_layout_graphicsview.cpp
/skelton/source/moc_layout_window.cpp
/network/device/source/moc_clientsocket.cpp
/network/device/source/moc_gflnet_qt_dev_udp.cpp
/network/device/source/moc_quickserver.cpp
ShaderCache/
*.opt
SystemTest/ro_template/niji_template_ro/*
SystemTest/roapp_template/modules/*
/util/project/gfl2_util/CTR/Debug/
/util/project/gfl2_util/CTR/Release/
/clr/gfl2_clr/Win32/Debug/
/clr/gfl2_clr/Win32/DebugCLR/
/clr/gfl2_clr/Win32/Release/
/clr/gfl2_clr/Win32/ReleaseCLR/
gfx/Sample/DrawUtil_CTRSample/CTRViewer/DrawUtilSample
gfx/Sample/DrawUtil_CTRSample/FrameWork/gfl2_FrameWork